@model List<JustScan.Models.Menu>

@{
    Layout = "";
    ViewData["Title"] = "Index";
}


<head>
    <title>JustScan</title>
    <link rel="stylesheet" href="~/css/menu.css" />
    <style>
        p, h1, button {
            font-family: Tahoma;
            text-align: left;
            text-transform: uppercase;
            font-size: 30px;
        }
    </style>
</head>

<body onload="myFunction()" style="margin:0; border-style: solid;">

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <script type="text/javascript">
        function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
        var myVar;

        function myFunction() {

            document.body.style.backgroundImage = "url('../Image/Scan.jpg')";
            document.body.style.backgroundSize = "100% 100%";

            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
        }

        function myFunction1() {
            document.getElementById("Pizza").style.display = "block";
            document.getElementById("Pasta").style.display = "none";
            document.getElementById("Starter").style.display = "none";

        }

        function myFunction2() {

            document.getElementById("Pasta").style.display = "block";
            document.getElementById("Starter").style.display = "none";
            document.getElementById("Pizza").style.display = "none";

        }

        function myFunction3() {

            document.getElementById("Starter").style.display = "block";
            document.getElementById("Pasta").style.display = "none";
            document.getElementById("Pizza").style.display = "none";

        }

    </script>



    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="display-middle center">
            <span class="text-white hide-large hide-medium"><b>Welcome @Model.First().BusinessName</b></span>
        </div>
        <div class="display-bottomleft padding">
            <span class="tag xlarge">Open from 10am to 12pm</span>
        </div>
        <img src="~/Image/Plate.jpg" style="width:100%" />


        <div class="container black padding-64 xxlarge" id="menu">
            <div class="content">

                <h1 class="center jumbo" style="margin-bottom:64px">MENU</h1>
                
                
                <div>

                    @foreach (Menu menu in Model)
                    {
                        <button class="tab1" onclick="myFunction1()">@menu.CategoryName</button>
                    }

                </div>
                    
                    <div class="pizza1" style="display:block;">

     @foreach (Menu menu in Model)
                {
                 

                        <h1><b>@menu.Description</b> <span class="span">@menu.Price L</span></h1>
                        <p class="text">@menu.Description</p>
                }
                    </div>

            </div>
        </div>


</body>

