@model List<JustScan.Models.Menu>

@{
    Layout = "";
    ViewData["Title"] = "Index";
}


<head>
    <title>JustScan</title>
    <link rel="stylesheet" href="~/css/menu.css" />
    <style>
        p, h1, button {
            font-family: Tahoma;
            text-align: left;
            text-transform: uppercase;
            font-size: 30px;
        }
    </style>
</head>

<body onload="myFunction()" style="margin:0; border-style: solid;">

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <script type="text/javascript">
        function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
        var myVar;

        function myFunction() {

            document.body.style.backgroundImage = "url('../Image/Scan.jpg')";
            document.body.style.backgroundSize = "100% 100%";

            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
        }

        function openCategory(j, l) {

            for (var i = 1; i <= l; i++) {
                if (i == j) {
                    document.getElementById("business" + i).style.display = "block";
                }
                else {
                    document.getElementById("business" + i).style.display = "none";

                }
            }

        }


    </script>


    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="display-middle center">
            <span class="text-white hide-large hide-medium"><b>Welcome @Model.First().BusinessName</b></span>
        </div>
        <div class="display-bottomleft padding">
            <span class="tag xlarge">Open from 10am to 12pm</span>
        </div>
        <img src="~/Image/Plate.jpg" style="width:100%" />


        <div class="container black padding-64 xxlarge" id="menu">
            <div class="content">

                <h1 class="center jumbo" style="margin-bottom:64px">MENU</h1>


                <div>

                    @{
                    var j = 1;
                    var i = 1;
                    var name = "";
                    }
                    




                    @foreach (Menu menu in Model)
                    {
                        var cName = "category" + j;

                        <button id="@{@cName}" class="tab1" onclick="openCategory(@j,@Model.Select(x=>x.CategoryName).Distinct().Count())">@menu.CategoryName</button>
                        j++;
                    }
                </div>

                @foreach (Menu menu1 in Model)
                {
                    @if (menu1.CategoryName != name)
                    {
                        var fName = "business" + i;

                        <div id="@{@fName}" style="display:none;">


                            @foreach (Menu menu in Model)
                            {

                                @if (menu.CategoryName == menu1.CategoryName)
                                {

                                    <h1><b>@menu.Description</b> <span class="span">@menu.Price L</span></h1>
                                    <p class="text">@menu.Description</p>
                                    <hr>
                                }

                            }

                        </div>

                        i++;
                        name = menu1.BusinessName;

                    }
                }
            </div>
        </div>

    </div>
</body>

